@import "./_variables.scss";

.clients.clients-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 4px;
  padding: 20px;
  border-radius: 4px;
}

.view.clients {
  padding: unquote("min(10vw, 20px)");
  min-height: 93.5vh;
}

table.clients {
  margin: 0;
  border-radius: 4px;
  .MuiTableHead-root .MuiTableCell-head {
    background-color: $green-dark;
    color: white;
  }
}

.clients.main-column {
  margin: 10px;
  min-height: 70vh;
  box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.row-client:hover {
  background-color: $green-light;
}

.editform {
  padding: 0.5rem;
}

.clientData {
  padding: 1rem;
}

.clientDataName {
  background-color: $green-dark;
  color: white;
  text-align: center;
  padding: 6px 24px 6px 16px;
  font-weight: 500;
  line-height: 1.5rem;
}

.MuiSvgIcon-root.editIcon {
  color: $grey;
  margin: 0.5rem;
}

.observations {
  margin-top: 2rem;
  width: 100%;
  min-height: 10vh;
}

.container-table-client {
  height: 65vh;
  overflow-y: scroll;
}

.shadowed-container.clients-list {
  min-height: 100%;
}

h1.clients-title {
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: $grey;
}

.MuiButton-contained.corporativeButton.clients{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}