@import "./_variables.scss";

.clients.clients-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 4px;
  padding: 20px;
}

.view.clients {
  padding: unquote("min(10vw, 20px)");
  background-color: $green-light;
  min-height: 92vh;
}

table {
  margin-bottom: 20px;
  .MuiTableHead-root .MuiTableCell-head{
    background-color: $green-dark;
    color: white;
  }
}

.clients.main-column {
  margin: 10px;
  min-height: 70vh;
  box-shadow: 
    inset 0 0 5px 0px rgba(0, 0, 0, 0.4);
}

.searcher{
  background-color: $pale-pink;
  margin: 0.5rem;
  color: white;
  border-color: white;
  width: 30rem;
}

.row-client:hover{
  background-color: $green-medium;
}


