@import "./_variables.scss";

.navbar.bg-dark.navbar-dark{
    background-color: $grey !important;
    
    .navbar-light, .navbar-brand, .navbar-toggler{
        color: white;
    }
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .element-right{
    display: inline-block;
    text-align: right;
  }