select,
textarea,
input {
  display: block;
  margin: 20px 0;
  min-width: 300px;
}

table {
  margin-bottom: 20px;
}
.view.new-sale {
  margin: unquote("min(10vw, 20px)");
}

.new-sale.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.new-sale.main-column {
  padding: 10px;
  border: solid 1px black;
  min-height: 70vh;
}

.buttons-container {
  display: block;
  overflow-y: auto;
  border: solid 1px black;
  padding: 2px;
  &.products {
    height: 80%;
  }
  &.categories {
    height: 70%;
  }
}

.MuiButton-root.product-button,
.MuiButton-root.category-button {
  font-size: 12px;
  line-height: 0.8rem;
  overflow-y: hidden;
  width: 150px;
  height: 50px;
  margin: 2px;
  background-color: antiquewhite;
  &:hover {
    background-color: aquamarine;
  }
  text-transform: none;
}

.categories-products-container {
  display: grid;
  grid-template-rows: 65% 35%;
  height: 100%;
}

.MuiTableHead-root .MuiTableCell-head {
  background-color: grey;
  color: black;
}

// .MuiTableFooter-root .MuiTableCell-footer{
//     background-color: black;
//     color: white;
//     font-size: 14px;
// }

.MuiTable-root {
  margin-top: 20px;
}

form.new-sale-people-form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & .form-customer-field {
    padding-right: 5px;
  }

  & .form-employee-field {
    padding-left: 5px;
  }
}
