@import "./_variables.scss";

table.sales {
  margin: 0;
  .MuiTableHead-root .MuiTableCell-head{
    background-color: $green-dark;
    color: white;
    &:not(.name-option){
      text-align: center;
    }
    &.name-option{
      width: 50%;
    }
  }
  .MuiTableBody-root .MuiTableCell-body{
    &:not(.name-option){
      text-align: center;
    }
    &.name-option{
      width: 50%;
    }
    .sale-action-icon{
      &:not(:first-child){
        margin-left: 3px;
      } 
      &:not(:last-child){
        margin-right: 3px;
      }

    }
  }
}


.buttons-container {
  display: block;
  border-radius: 4px;
  overflow-y: auto;
  padding: 2px;
  &.products {
    height: 40vh;
  }
  &.categories {
    height: 20vh;
  }

}

.MuiButton-root.product-button,
.MuiButton-root.category-button {
  font-size: 12px;
  line-height: 0.8rem;
  overflow-y: hidden;
  width: 150px;
  height: 50px;
  margin: 2px;
  background-color: $green-medium;
  &:hover {
    background-color: $pale-pink;
  }
  text-transform: none;
}

.categories-products-container, .account-total-container {
  display: grid;
  grid-template-rows: 65% 35%;
  height: 100%;
}


.MuiTable-root {
  margin-top: 20px;
}

form.new-sale-people-form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & .form-customer-field {
    padding-right: 5px;
  }

  & .form-employee-field {
    padding-left: 5px;
  }
}

.sale-action-icon{
  color: $grey;
  font-size: 15px;
}

.mop-buttons-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .mop-button{
    width: 100px;
    height: 100px;
    &:not(:first-child){
      margin-left: 20px;
    }
    font-size: 40px;
    color: $green-light;
    background-color: $green-medium;
    &:hover{
      background-color: $pale-pink;
    }
  }
}

.final-import-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
  .final-import-label{
    font-weight: 600;
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
  .final-import-value{
    line-height: 2.5rem;
    text-align: right;
    font-weight: 600;
    font-size: 2.5rem;
  }
}

.MuiTextField-root{
  width: 100%;
}

.MuiDialog-paper{
  width: 60vw;
}