.navbar.bg-dark.navbar-dark {
  background-color: #555B6E !important;
  padding-right: 20px;
  padding-left: 20px; }
  .navbar.bg-dark.navbar-dark .navbar-light, .navbar.bg-dark.navbar-dark .navbar-brand, .navbar.bg-dark.navbar-dark .navbar-toggler {
    color: white; }

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.element-right {
  display: inline-block;
  text-align: right; }
