.forms-container {
  display: block;
  padding: 10px;
}

.new-sale.container {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.row {
  display: flex;
}

.column {
  text-align: center;
  flex: 50%;
  padding: 10px;
  height: 320px;
}

.column-center {
  text-align: center;
  flex: 100%;
  padding: 10px;
}

.verticalSeparator{
  height:30px;
}

.reservation-background {
  /* Center of Screen */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 94vh;

  /* Animation */
  animation-name: background-loop;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* For not flickering on transition */
div.preload-images {
  background: url("../img/background-1.jpg") no-repeat -9999px -9999px;
  background: url("../img/background-1.jpg") no-repeat -9999px -9999px,
    url("../img/background-2.png") no-repeat -9999px -9999px,
    url("../img/background-3.png") no-repeat -9999px -9999px;
}

/* Set Different Background Images */
@keyframes background-loop {
  0% {
    background-image: url("../img/background-1.jpg");
  }
  15% {
    background-image: url("../img/background-1.jpg");
  }
  30% {
    background-image: url("../img/background-2.png");
  }
  45% {
    background-image: url("../img/background-2.png");
  }
  60% {
    background-image: url("../img/background-3.png");
  }
  75% {
    background-image: url("../img/background-3.png");
  }
  90% {
    background-image: url("../img/background-1.jpg");
  }
  100% {
    background-image: url("../img/background-1.jpg");
  }
}
