h1.sales-title {
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: #555b6e;
}

#root {
  background-color: #f1f9f7;
}

.view.sales {
  padding: min(10vw, 20px);
  min-height: 93.5vh;
}

.sales-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 4px;
  padding: 20px;
}

.sales.main-column {
  margin: 10px;
  min-height: 70vh;
}

.shadowed-container {
  box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.4);
  display: block;
  border-radius: 4px;
  overflow-y: auto;
  padding: 2px;
}

.sold-products-table-container {
  height: 30vh;
  overflow-y: auto;
  margin-bottom: 20px;
}
